
.ProductsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;

    @media(max-width:720px){
        display:none;
    }
}


.ProductsGrid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 80%;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 8rem;

    @media(max-width:720px){
        display:none;
    }
}