.CarrouselContainerMobile{
    display:none;

    @media(max-width: 720px){
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}


.titleGridMobile{


    letter-spacing: 0.3rem;
    color: var(--gray-1000);
    font-size: 2rem;

    margin-bottom: 1rem;
}

.CarrouselSize{
    width: 100%;
}


.ProductColorsMobile{
    display:flex;
    justify-content: space-between;
    

    input:hover{
        cursor:pointer;
    }
    input:active{
        border: 1px solid var(--gray-1000);
    }
    .Black{
        width: 15px;
        height: 15px;
     
        border-radius: 50%;

        margin-bottom: 2rem;
        margin-right: 1rem;
        margin-left: 1rem;
     
        background-color: #000;
     }
     .Caramel{
        width: 15px;
        height: 15px;
     
        border-radius: 50%;
        margin-bottom: 2rem;
        margin-right: 1rem;
     
        background-color: rgb(233, 116, 48);
     }

     .Browm{
        width: 15px;
        height: 15px;
     
        border-radius: 50%;
        margin-bottom: 2rem;
     
        background: #753b01;
     }

     .Browm, .Black, .Caramel:hover{
       cursor:pointer;
     }
    
}

#LegendForCarrouselMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 3rem;

    >strong{
        color:#000;
        font-size: 1.18rem;
        margin-left: 1.4rem;
    }
    >p{
        color:#000;
        font-size: 1.18rem;
        margin-left: 1rem;
    }
}
