#LegendForCarrousel{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    opacity: 1;
    background: none;

    >strong{
        letter-spacing: 2.25rem;

        margin-bottom: 1rem;
    
        color: var(--white);
        font-size:5rem;
    }
    >p{
    margin-bottom: 4rem;
    color: var(--white);
    font-size:1.3rem;
    background: none;

    opacity: 1;
    }
    >button{
        color: var(--gray-1000);
        font-size: 16px;
        background-color: var(--white);

        border: none;
        border-radius: 50px;
        padding: 2em 3em;
        
        margin-bottom: 12rem

    }

    @media(max-width: 720px){
        
        >strong{
            font-size:3rem;
        }
        >p{
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        >button{
            font-size: 10px;
            margin-bottom: 4rem;
        }
    }
}

.CarrouselContainer{
    margin-bottom: 3rem;

    @media(max-width: 720px){
        img{
            height:30rem;
        }

    }
}
