.HeaderBox{
    display: flex;
    align-items: center;
    justify-content: space-around;

    background: var(--gray-100);
    height: 9rem;

    >div{
        display: flex;
        align-items: center;
        width:30%;

        >a{
            color: var(--gray-1000);
            text-decoration: none;
            font-size: 0.8rem;
            margin-left: 3rem;

            opacity: 0.75;
        }
        >a:hover{
            text-decoration: underline;
        }
    }

    @media(max-width : 720px){
        img{
           display:none;
        }
        div:last-child{
            display: none;
        }
        div{
            display: flex;
            align-items: center;

            margin-right: 14rem;
        }
    }

}
.Icon{
    display: flex;
    align-items: center;
    justify-content: center;
    >svg{
        width:1.5rem;
        height: 1.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.4rem;
    }
}